.navbar{
	background-color:#173e43;
}
body{
	background-color:#fae596;
}
#createButton{
	background-color:#173e43;
}
.modal-content{
	background-color:#dddfd4;
}
#focusedInput{
	background-color:#e8edf3;
}